<html ng-app="app" ng-controller="titleCtrl">
<head>
  <title>Misión, Visión y Objetivos</title>
  <%= favicon_link_tag asset_path('logo-gimm.png') %>
</head>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Misión</h1>
      <p class="lead">Como grupo de investigación adscrito a la Facultad de Ciencias Básicas de la UTP,
                      <br>el grupo GIMM busca generar y difundir el conocimiento científico de la Ciencia
                      <br>y la Tecnología en Colombia y en el mundo, con el fin de aportar al desarrollo
                      <br>de las ciencias básicas y aplicadas a través de la ejecución de proyectos que
                      <br>resuelven problemas científicos y tecnológicos; y al mismo tiempo permiten la
                      <br>formación de profesionales investigadores en áreas de la física, la química y
                      <br>áreas afines y/o interdisciplinarias.
      </p>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Visión</h1>
      <p class="lead">El grupo GIMM pretende consolidarse como un grupo de investigación reconocido a nivel
                      <br>nacional e internacional, por el desarrollo y caracterización de nuevos materiales
                      <br>en conjunto con el impulso de procesos experimentales y teóricos, afines con las
                      <br>necesidades de la región y del país; los cuales permitirán la contribución del
                      <br>grupo GIMM al quehacer científico y tecnológico.
      </p>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Objetivos</h1>
    </div>
    <h3>Objetivo General:</h3>
    <li>Crear un grupo de investigación en propiedades magneto-ópticas y magnéticas de nuevos materiales en la UTP.</li>
    <br><br>
    <h3>Objetivos Especificos:</h3>
    <li>Fortalecer el departamento de Física de la UTP, ofreciendo trabajos de grado de aplicación industrial y/o científica.</li>
    <li>Consolidar y posicionar el grupo de investigación a nivel nacional, logrando pertenecer a una red colombiana de magnetismo.</li>
    <li>Fortalecer la comunidad científica a nivel nacional con el ofrecimiento de técnica de estudio de materiales.</li>
    <li>Crear y/o consolidar vínculos con grupos de investigación nacionales e internacionales afines al quehacer científico.</li>
  </div>
</div>
