<html ng-app="app" ng-controller="titleCtrl">
<head>
  <title>Misión, Visión y Objetivos</title>
  <%= favicon_link_tag asset_path('logo_gef.png') %>
</head>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Misión</h1>
      <p class="lead">El grupo de electrofisiología, es un grupo de investigación adscrito a la Facultad de Ciencias
                  <br>Básicas de la Universidad Tecnológica de Pereira que busca promover el desarrollo de
                  <br>proyectos interdisciplinarios en el área de la electrofisiología y la termografía biomédica,
                  <br> avanzando a la par en la implementación de la metrología de variables eléctricas y metrología
                  <br>electromédica; permitiendo al mismo tiempo la formación de profesionales capaces de aportar
                  <br>al desarrollo tecnológico del país.
      </p>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Visión</h1>
      <p class="lead">El grupo de electrofisiología será un grupo que lleve a cabo investigación y desarrollo
                  <br>tecnológico interdisciplinario, en el campo de la electrofisiologia, instrumentqación biomédica,
                  <br>metrología eléctrica, metrología electromédica y de CEM-NI en lo que se relaciona con el
                  <br>diseño y construcción de equipo para la medición de parámetros electrofisiológicos, el análisis
                  <br>de bioseñales en individuos bajo diferentes condiciones y patologías y en el campo del diseño
                  <br>de procedimientos para la calibración de equipo electromédico, equipo de medición de
                  <br>parámetros eléctricos y de CEM-NI.
      </p>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="container text-center">
      <h1 class="display-4">Objetivos</h1>
    </div>

    <p class="lead">
      <div class="container text-center" style = "text-align: justify">
        <li>Realizar trabajo interdisciplinario en el área de la electrofisiología.</li><br>
        <li>Desarrollar trabajo de investigación en el área del análisis de señales fisiológicas
        <br>obtenidas de seres humanos bajo diferentes condiciones o patologías.</li><br>
        <li>Desarrollar tecnológicamente prototipos para la medición de variables
        <br>electrofisiológicas y llevarlos hasta una etapa en la cual el prototipo se convierta en un
        <br>instrumento para su utilización directa en seres humanos.</li><br>
        <li>Consolidar el trabajo en área de la metrología de variables eléctricas y metrología electromédica.</li><br>
        <li>Montar, implementar y acreditar un laboratorio de metrología electromagnética.</li><br>
        <li>Investigar acerca de los efectos físicos de las radiaciones electromagnéticas no ionizantes sobre los seres humanos.</li><br>
        <li>Investigar en el área de la termografía biomédica.</li>
      </div>
    </p>
  </div>
</div>
