<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <p class="left vcard">
    <span><br>GRUPO DE INVESTIGACIÓN EN PROPIEDADES MAGNÉTICAS Y MAGNETO-ÓPTICAS DE NUEVOS MATERIALES <br>
      GRUPO DE INVESTIGACIÓN DE ELECTROFISIOLOGIA
    </span>
  </p>
  <p class="right">
    <span>Departamento de Física. <br>
      Universidad Tecnólogica de Pereira. <br>
      Copyright &copy
    </span>
  </p>
</footer>
