<section id="pantalladiv">
  <div class="izq">
    <h1 class="titlegimm"><span class="GDIGIMM">GRUPO DE INVESTIGACIÓN EN PROPIEDADES MAGNÉTICAS Y MAGNETO-ÓPTICAS DE NUEVOS MATERIALES (GIMM)</span></h1>
    <div class="row justify-content-center">
      <p class="infogimm"><span class="badge badge-light font-size: 15px">Grupo de Investigación en
        Propiedades Magnéticas y Magneto-Ópticas de Nuevos Materiales (GIMM).<br>
        El grupo actualmente se encuentra como grupo RECONOCIDO por Colciencias y <br>
        está clasificado como grupo de Categoría B</span>
      </p>
    </div>
    <div class="row justify-content-center">
      <%= link_to "Ingreso GIMM", gimm_path, class:"btn btn-info" %>
    </div>
  </div>

<div class="derecha">
  <h1 class = "titlegef"><span class="GDIGEF">GRUPO DE INVESTIGACIÓN DE ELECTROFISIOLOGIA (GEF)</span></h1>
  <div class="row justify-content-center">
    <p class="infogimm"><span class="badge badge-light font-size: 15px">
      El GRUPO DE ELECTROFISIOLOGÍA  es un grupo de investigación<br>
      adscrito en Ciencias Básicas e Ingeniería, reconocido por COLCIENCIAS, categorizado como grupo B,<br>
      con código COL0004264 y avalado por la UNIVERSIDAD TECNOLÓGICA DE PEREIRA.</span></p>
    </div>
    <div class="row justify-content-center">
      <%= link_to "Ingreso GEF", gef_path, class:"btn btn-success" %>
    </div>
  </div>
</section>


<section id = "congreso">
  <ul class="swatch-list">
    <li class="swatch">
      <div class="swatch-color color-medium-gray">
        <h1 class="display-4 row justify-content-center">CONGRESO DE FÍSICA</h1>
        <p class="lead">El Grupo de Electrofisiología, planteo la realización de la primera conferencia iberoamericana
          alrededor de la termografía infrarroja y sus amplias aplicaciones, abarcando aspectos teóricos
          de simulación, experimentales y comerciales alrededor de esta técnica.</p>
        </div>

        <div class="swatch-info">
          <p>El evento permitiría, por un lado difundir y compartir las experiencias teóricas, de simulación y experimentación
            en temas relacionados con el uso de la termografía infrarroja; y por otro lado, permitiría en ese mismo espacio
            completar esa visión alrededor de todo ese conglomerado de industrias y empresas a nivel nacional e internacional,
            que están trabajando y apostándole, desde hace algún tiempo, a la técnica de termografía infrarroja en diversos
            temas en ingeniería, física, química, biología, medicina, ciencias del deporte, y psicología, entre muchas otras
            disciplinas. Esperamos reunir al menos 320 asistentes al evento de muchos países en el mundo, permitiendo que
            su carácter iberoamericano permita oficialmente el uso de tres idiomas durante el evento: español,
            portugués e inglés.
          </p>
        <div class="row justify-content-center">
          <ul class="menu">

            <a>
              Más información
              <span class="border border-top"></span>
              <span class="border border-right"></span>
              <span class="border border-bottom"></span>
              <span class="border border-left"></span>
            </a>
          </ul>
        </div>

      </div>
    </li>
  </ul>
</section>
